{% extends '@Backend/CRUD/list.html.twig' %}
{% block create_new_path path('operations_new') %}
{% block create_new_title 'operations.create_new'|trans %}
{% block list_body %}
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
        {% block thead %}
            <tr>
                <th>#</th>
                <th>{{ 'operations.accountId'|trans|title }}</th>
                <th>{{ 'operations.deve'|trans|title }}</th>
                <th>{{ 'operations.haber'|trans|title }}</th>
                <th>{{ 'backend.action'|trans|title }}</th>
            </tr>
        {% endblock %}
        </thead>
        <tfoot>
        {{ block('thead') }}
        </tfoot>
        <tbody>
        {% for operations in operationss %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ operations.accountId.code }}</td>
                <td>{{ operations.deve }}</td>
                <td>{{ operations.haber }}</td>
                <td class="action">
                    <div class="btn-group">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-primary flat" href="{{ path('operations_show', { 'id': operations.id }) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-success flat" href="{{ path('operations_edit',{'id':operations.id}) }}"><i
                                        class="fa fa-pencil"></i></a>
                        </div>
                        {% form_theme delete_forms[operations.id] 'BackendBundle:CRUD:delete.html.twig' %}
                        <div class="btn-group">
                            {{ form(delete_forms[operations.id]) }}
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}