<div class="row padding-top-30">
    <div class="col-md-8 col-md-offset-2">

        <div class="register-box-body">
            <p class="login-box-msg">{{ 'backend.register_message'|trans }}</p>

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_registration_register">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="row padding-top-10">
                    <div class="col-sm-4">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.dni) }}
                        {{ form_widget(form.dni) }}
                    </div>
                </div>
                <div class="row padding-top-10">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.cityId) }}
                        {{ form_widget(form.cityId) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.institutionId) }}
                        {{ form_widget(form.institutionId) }}
                    </div>
                </div>
                <div class="row padding-top-10">
                    <div class="col-sm-4">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.plainPassword) }}
                    </div>
                </div>
                <div class="row padding-top-10">
                    <div class="col-sm-4">
                        {{ form_label(form.educationallevelId) }}
                        {{ form_widget(form.educationallevelId) }}
                    </div>
                </div>
                {{ form_widget(form._token) }}

                <div class="row padding-top-20">

                    <!-- /.col -->
                    <div class="col-xs-4">
                        <input class="btn btn-primary btn-block btn-flat" type="submit"
                               value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        {{ form_errors(form) }}

        <!-- /.form-box -->
    </div>
</div>
<!-- /.register-box -->
