{% extends 'FrontendBundle::frontend_base.html.twig' %}
{% block content %}
    <div class="container">
        <section class="content padding-top-30">
            <div class="box box-success">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-body">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class=""><a href="{{ path('profesor') }}" >Listado de Estudiantes</a></li>
                                <li class="active"><a href="#" >Revisión</a></li>
                                <li class=""><a href="{{ path('profesor_tareas') }}" >Tareas</a></li>
                            </ul>
                            <div class="box-header">
                                <h3 class="page-header">
                                    Tareas Entregadas
                                </h3>
                            </div>
                            <table id="datatable" class="table table-bordered ">
                                <thead>
                                {% block thead %}
                                    <tr>
                                        <th>{{ '#' }}</th>
                                        <th>{{ 'user.dni'|trans|title }}</th>
                                        <th>{{ 'user.name'|trans|title }}</th>
                                        <th>{{ 'answerTask.date'|trans|title }}</th>
                                        <th>{{ 'answerTask.file'|trans|title }}</th>
                                        <th>{{ 'backend.action'|trans|title }}</th>
                                    </tr>
                                {% endblock %}
                                </thead>
                                <tfoot>
                                {{ block('thead') }}
                                </tfoot>
                                <tbody>
                                {% for entity in answerTasks %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ entity.userId.dni }}</td>
                                        <td>{{ entity.userId.name ~ " " ~ entity.userId.lastname }}</td>
                                        <td>{{ entity.date|date('d/m/Y H:i') }}</td>
                                        <td>
                                        <a target="_blank" href="{{ asset('upload/answerTask/files/'~entity.file) }}">
                                            {{ entity.file }}
                                        </a>
                                        </td>

                                        <td class="action">
                                            <div class="btn-group">
                                                {% form_theme delete_forms[entity.id] 'BackendBundle:CRUD:delete.html.twig' %}
                                                <div class="btn-group">
                                                    {{ form(delete_forms[entity.id]) }}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(function () {
            $('#datatable').DataTable({});
        });
    </script>
{% endblock %}