{% extends '@Backend/CRUD/list.html.twig' %}
{% block create_new_path path('city_new') %}
{% block create_new_title 'city.create_new'|trans %}
{% block list_body %}
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
        {% block thead %}
            <tr>
                <th>#</th>
                <th>{{ 'city.name'|trans|title }}</th>
                <th>{{ 'city.provinceId'|trans|title }}</th>
                <th>{{ 'backend.action'|trans|title }}</th>
            </tr>
        {% endblock %}
        </thead>
        <tfoot>
        {{ block('thead') }}
        </tfoot>
        <tbody>
        {% for city in citys %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.provinceId.name }}</td>
                <td class="action">
                    <div class="btn-group">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-primary flat" href="{{ path('city_show', { 'id': city.id }) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-success flat" href="{{ path('city_edit',{'id':city.id}) }}"><i
                                        class="fa fa-pencil"></i></a>
                        </div>
                        {% form_theme delete_forms[city.id] 'BackendBundle:CRUD:delete.html.twig' %}
                        <div class="btn-group">
                            {{ form(delete_forms[city.id]) }}
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}